In [3]:
%matplotlib inline
import pandas as pd
from pandas import read_csv
from pandas.plotting import autocorrelation_plot
from pandas import DataFrame
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import sklearn.metrics 
from sklearn.preprocessing import LabelEncoder
from scipy import stats
import seaborn as sns
import sweetviz as sv
import statsmodels.api as sa

In [4]:
# AIRLINE PASSENGERS SATISFACTION - BUILDING MACHINE LEARNING MODEL FOR INVESTIGATION OF FACTORS INFLUENCE

In [5]:
# 1. LET US LOAD DATA AND PREPARE FOR INVESTIGATION

In [6]:
# For project import datset from Kaggle (platform for analytics and predictive modeling competitions)
# https://www.kaggle.com/datasets/prachi15gupta98/airline-passenger-satisfaction
data=pd.read_excel('AirlinePassengerSatisfaction.xlsx', index_col=0) 
data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Customer ID,,,,,,,,,,,,,,,,,,,,,
70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3.0,4.0,3.0,1.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25,18.0,0
5047,Male,disloyal Customer,25,Business travel,Business,235,3.0,2.0,3.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1,6.0,0
110028,Female,Loyal Customer,26,Business travel,Business,1142,2.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0,0.0,1
24026,Female,Loyal Customer,25,Business travel,Business,562,2.0,5.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11,9.0,0
119299,Male,Loyal Customer,61,Business travel,Business,214,3.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0,0.0,1

In [7]:
#First let us check the type of objects in all columns and all data information
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129880 entries, 70172 to 34799
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             129880 non-null  object
 1   Customer Type                      129880 non-null  object
 2   Age                                129880 non-null  int64
 3   Type of Travel                     129880 non-null  object
 4   Class                              129880 non-null  object
 5   Flight Distance                    129880 non-null  int64
 6   Inflight wifi service              129876 non-null  float64
 7   Departure/Arrival time convenient  129876 non-null  float64
 8   Ease of Online booking             129877 non-null  float64
 9   Gate location                      129872 non-null  float64
 10  Food and drink                     129875 non-null  float64
 11  Online boarding                    129874 non-null  float64
 12  Seat comfort                       129879 non-null  float64
 13  Inflight entertainment             129876 non-null  float64
 14  On-board service                   129877 non-null  float64
 15  Leg room service                   129878 non-null  float64
 16  Baggage handling                   129878 non-null  float64
 17  Checkin service                    129877 non-null  float64
 18  Inflight service                   129879 non-null  float64
 19  Cleanliness                        129878 non-null  float64
 20  Departure Delay in Minutes         129880 non-null  int64
 21  Arrival Delay in Minutes           129487 non-null  float64
 22  satisfaction                       129880 non-null  int64
dtypes: float64(15), int64(4), object(4)
memory usage: 23.8+ MB

In [8]:
#We can see that some data is missing and we need to fill it, and also transform object data into int
#See statistics for all columns
data.describe(include = "all")

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
count,129880,129880,129880.000000,129880,129880,129880.000000,129876.000000,129876.000000,129877.000000,129872.000000,...,129876.000000,129877.000000,129878.000000,129878.000000,129877.000000,129879.000000,129878.000000,129880.000000,129487.000000,129880.000000
unique,2,2,NaN,2,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Female,Loyal Customer,NaN,Business travel,Business,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,65899,106100,NaN,89693,62160,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,39.427957,NaN,NaN,1190.316392,2.728703,3.057609,2.756885,2.976931,...,3.358080,3.383016,3.350891,3.632132,3.306251,3.642213,3.286315,14.713713,15.091129,0.434463
std,NaN,NaN,15.119360,NaN,NaN,997.452477,1.329334,1.526757,1.401742,1.278526,...,1.334033,1.287106,1.316245,1.180024,1.266189,1.176651,1.313689,38.071126,38.465650,0.495688
min,NaN,NaN,7.000000,NaN,NaN,31.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,27.000000,NaN,NaN,414.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,40.000000,NaN,NaN,844.000000,3.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,51.000000,NaN,NaN,1744.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,1.000000
max,NaN,NaN,85.000000,NaN,NaN,4983.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,1.000000

In [9]:
#Check if there are any duplicates, see that there are not
data[data.duplicated()]

Empty DataFrame
Columns: [Gender, Customer Type, Age, Type of Travel, Class, Flight Distance, Inflight wifi service, Departure/Arrival time convenient, Ease of Online booking, Gate location, Food and drink, Online boarding, Seat comfort, Inflight entertainment, On-board service, Leg room service, Baggage handling, Checkin service, Inflight service, Cleanliness, Departure Delay in Minutes, Arrival Delay in Minutes, satisfaction]
Index: []

[0 rows x 23 columns]

In [10]:
#as Satisfaction is my target variable, let's check how many unique type of satisfaction is there in the dataset
data['satisfaction'].value_counts()

0    73452
1    56428
Name: satisfaction, dtype: int64

In [11]:
# Transform four text columns into int meanings
labelencoder = LabelEncoder()
data['Customer Type'] = labelencoder.fit_transform(data['Customer Type'])
data['Gender'] = labelencoder.fit_transform(data['Gender'])
data['Type of Travel'] = labelencoder.fit_transform(data['Type of Travel'])
data['Class'] = labelencoder.fit_transform(data['Class'])

In [12]:
#Now we see that all text data is transformed into int meanings (Gender,Customer Type, Type of travel, Class columns)
data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Customer ID,,,,,,,,,,,,,,,,,,,,,
70172,1,0,13,1,2,460,3.0,4.0,3.0,1.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25,18.0,0
5047,1,1,25,0,0,235,3.0,2.0,3.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1,6.0,0
110028,0,0,26,0,0,1142,2.0,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0,0.0,1
24026,0,0,25,0,0,562,2.0,5.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11,9.0,0
119299,1,0,61,0,0,214,3.0,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0,0.0,1

In [13]:
#Now check if there are missing data values, we can see that there are some (shown as True values):
missing_data = data.isnull()
missing_data.head(15)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Customer ID,,,,,,,,,,,,,,,,,,,,,
70172,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5047,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
110028,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24026,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
119299,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
111157,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
82113,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
96462,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79485,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
65725,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
34991,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
51412,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
98628,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83502,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95789,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
#So now check the proportion of Missing Values to all columns data:
nulls = data.isnull().sum()/len(data)
nulls[nulls.values > 0]

Inflight wifi service                0.000031
Departure/Arrival time convenient    0.000031
Ease of Online booking               0.000023
Gate location                        0.000062
Food and drink                       0.000038
Online boarding                      0.000046
Seat comfort                         0.000008
Inflight entertainment               0.000031
On-board service                     0.000023
Leg room service                     0.000015
Baggage handling                     0.000015
Checkin service                      0.000023
Inflight service                     0.000008
Cleanliness                          0.000015
Arrival Delay in Minutes             0.003026
dtype: float64

In [15]:
#Check the quantity of missing values:
data.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  4
Departure/Arrival time convenient      4
Ease of Online booking                 3
Gate location                          8
Food and drink                         5
Online boarding                        6
Seat comfort                           1
Inflight entertainment                 4
On-board service                       3
Leg room service                       2
Baggage handling                       2
Checkin service                        3
Inflight service                       1
Cleanliness                            2
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [17]:
#Compare Null and filled 'Arrival Delay in Minutes' quantity, see that it is almost equal
data.groupby(data['Arrival Delay in Minutes'].isnull()).mean()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Arrival Delay in Minutes,,,,,,,,,,,,,,,,,,,,,
False,0.492590,0.183138,39.428761,0.309236,0.593704,1190.210662,2.728551,3.057359,2.756796,2.976915,...,3.358070,3.383198,3.351091,3.631903,3.306223,3.642394,3.286211,14.643385,15.091129,0.434499
True,0.501272,0.167939,39.162850,0.368957,0.646310,1225.152672,2.778626,3.139949,2.786260,2.982188,...,3.361323,3.323155,3.284987,3.707379,3.315522,3.582697,3.320611,37.885496,NaN,0.422392

In [18]:
# Create a new column 'Delay_NaN'
# If there is no value in the 'Arrival Delay in Minutes' column, then = 0 and yes value = 1
data['Delay_NaN'] = np.where(data['Arrival Delay in Minutes'].isnull(), 0,1)
data.head(6)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Delay_NaN
Customer ID,,,,,,,,,,,,,,,,,,,,,
70172,1,0,13,1,2,460,3.0,4.0,3.0,1.0,...,4.0,3.0,4.0,4.0,5.0,5.0,25,18.0,0,1
5047,1,1,25,0,0,235,3.0,2.0,3.0,3.0,...,1.0,5.0,3.0,1.0,4.0,1.0,1,6.0,0,1
110028,0,0,26,0,0,1142,2.0,2.0,2.0,2.0,...,4.0,3.0,4.0,4.0,4.0,5.0,0,0.0,1,1
24026,0,0,25,0,0,562,2.0,5.0,5.0,5.0,...,2.0,5.0,3.0,1.0,4.0,2.0,11,9.0,0,1
119299,1,0,61,0,0,214,3.0,3.0,3.0,3.0,...,3.0,4.0,4.0,3.0,3.0,3.0,0,0.0,1,1
111157,0,0,26,1,1,1180,3.0,4.0,2.0,1.0,...,3.0,4.0,4.0,4.0,4.0,1.0,0,0.0,0,1

In [19]:
#Now check satisfaction depend on delay statistisc:
data.groupby(['Delay_NaN']) ['satisfaction'].value_counts(normalize=True)

Delay_NaN  satisfaction
0          0               0.577608
           1               0.422392
1          0               0.565501
           1               0.434499
Name: satisfaction, dtype: float64

In [20]:
#Let us check correlation of'Departure Delay in Minutes' and 'Arrival Delay in Minutes' to see what to do with this column
stats.pearsonr(data.dropna()['Departure Delay in Minutes'], data.dropna()['Arrival Delay in Minutes'])

PearsonRResult(statistic=0.965292329395058, pvalue=0.0)

In [21]:
#Now after investigating the matter we can drop not needed column we made only for checking
data.drop('Delay_NaN', axis= 1 , inplace= True )

In [22]:
#As we see missing 393 numerals in 'Arrival Delay in Minutes', fill by 'Departure Delay in Minutes' as much correlated 0.9656
data['Arrival Delay in Minutes'].fillna(data['Departure Delay in Minutes'], inplace=True) # filled the missing values

In [23]:
# quantity of other missing data is not significant, so replace missing data for mean:
data = data.fillna(data.mean ())

In [24]:
data.head(10)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
Customer ID,,,,,,,,,,,,,,,,,,,,,
70172,1,0,13,1,2,460,3.000000,4.0,3.0,1.0,...,5.0,4.0,3.0,4.0,4.0,5.0,5.0,25,18.0,0
5047,1,1,25,0,0,235,3.000000,2.0,3.0,3.0,...,1.0,1.0,5.0,3.0,1.0,4.0,1.0,1,6.0,0
110028,0,0,26,0,0,1142,2.000000,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0,0.0,1
24026,0,0,25,0,0,562,2.000000,5.0,5.0,5.0,...,2.0,2.0,5.0,3.0,1.0,4.0,2.0,11,9.0,0
119299,1,0,61,0,0,214,3.000000,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0,0.0,1
111157,0,0,26,1,1,1180,3.000000,4.0,2.0,1.0,...,1.0,3.0,4.0,4.0,4.0,4.0,1.0,0,0.0,0
82113,1,0,47,1,1,1276,2.728703,4.0,2.0,3.0,...,2.0,3.0,3.0,4.0,3.0,5.0,2.0,9,23.0,0
96462,0,0,52,0,0,2035,4.000000,3.0,4.0,4.0,...,5.0,5.0,5.0,5.0,4.0,5.0,4.0,4,0.0,1
79485,0,0,41,0,0,853,1.000000,2.0,2.0,2.0,...,1.0,1.0,2.0,1.0,4.0,1.0,2.0,0,0.0,0
65725,1,1,20,0,1,1061,3.000000,3.0,3.0,4.0,...,2.0,2.0,3.0,4.0,4.0,3.0,2.0,0,0.0,0

In [91]:
#NOW WHEN DATASET IS READY WE PASS TO DATA INVESTIGATION TO CHOOSE METHOD OF MACHINE LEARNING

In [26]:
data.to_csv('processed.csv')